<%= render 'layouts/public_header' %>
<h2>本当に退会しますか？</h2>
<table>
  <td><%=link_to"退会しない",end_user_path %></td>
  <td><%=link_to"退会する",end_user_withdrawal_path(@end_user), method: :patch, "data-confirm" => "OK？", class: "btn btn-outline-danger" %></td>
</table>
